In [45]:
import json
import pandas as pd
import numpy as np
from tqdm import tqdm_notebook as tqdm
import os

In [46]:
dir_bb = 'data/years/'
filelist = os.listdir(dir_bb)
master_df = pd.DataFrame()

In [47]:
for year in tqdm(filelist):
    path = dir_bb + year
    with open(path, 'r', encoding='cp850', errors = 'ignore') as f:
        j = json.load(f)
        temp_df = pd.DataFrame(j)
        temp_df['pos'] = temp_df['sentiment'].apply(lambda x : x['pos'])
        temp_df['neg'] = temp_df['sentiment'].apply(lambda x : x['neg'])
        master_df = pd.concat([master_df,temp_df], sort=False)
        
master_df.head()

HBox(children=(IntProgress(value=0, max=66), HTML(value='')))

,lyrics,tags,num_syllables,pos,year,fog_index,flesch_index,num_words,num_lines,sentiment,title,f_k_grade,artist,difficult_words,num_dupes,neg
0,"Mona Lisa, Mona Lisa, men have named you\nYou'...","[american, death by lung cancer, easy listenin...",189.0,0.199,1950,5.2,88.74,145,17,"{'neg': 0.155, 'neu': 0.646, 'pos': 0.199, 'co...",Mona Lisa,2.9,Nat King Cole,13,10,0.155
1,I wanna be Loved\nBy Andrews Sisters\n\nOooo-o...,[andrews sisters],270.9,0.224,1950,4.4,82.31,189,31,"{'neg': 0.036, 'neu': 0.74, 'pos': 0.224, 'com...",I Wanna Be Loved,3.3,Andrews Sisters,40,32,0.036
2,I was dancing with my darling to the Tennessee...,"[country, pop]",174.6,0.351,1950,5.2,88.74,138,16,"{'neg': 0.053, 'neu': 0.596, 'pos': 0.351, 'co...",Tennessee Waltz,2.9,Patti Page,5,10,0.053
3,Each time I hold someone new\nMy arms grow col...,"[death by liver failure, spiritual]",135.9,0.231,1950,4.4,99.23,117,18,"{'neg': 0.167, 'neu': 0.602, 'pos': 0.231, 'co...",I'll Never Be Free,0.9,Tennessee Ernie Ford,10,3,0.167
4,"Unfortunately, we are not licensed to display ...","[country, pop]",46.8,0.079,1950,6.0,69.79,32,3,"{'neg': 0.07, 'neu': 0.85, 'pos': 0.079, 'comp...",All My Love,6.0,Patti Page,9,0,0.070

In [48]:
cleaned_df = master_df.drop(['flesch_index','f_k_grade','difficult_words','fog_index','num_dupes','num_lines','num_syllables','num_words','tags'],
               axis=1)

In [59]:
final_df = cleaned_df[['artist','title','year','pos','neg','lyrics']]

In [65]:
final_df.to_csv(index=False, path_or_buf = 'song_sentiment.csv')